.meal {
  width: 15rem;
  height: 22rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: 1px solid;
  border-radius: 10px;
}

.meal:hover {
  text-shadow: 10px darkblue;
  transform: scale(1.03);
  text-shadow: 0.5rem 0.5rem 0.2rem grey;
}

.title {
  text-align: center;
}

.mealControls {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.mealDetails {
  flex-shrink: 1;
  overflow: hidden;
  margin: 0.3rem;
}
.imageContainer {
  object-fit: fill;
  object-position: 50% 60%;
}
.mealDetailsExpanded {
  overflow: auto;
  background-color: white;
  flex-shrink: 0;
  text-shadow: none;
}
.mealWrapperExpanded {
  height: auto;
  position: relative;
}
