* {
  box-sizing: border-box;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-wrapper .content {
  flex: 1 0 auto;
  align-self: center;
}
.app-wrapper footer,
.app-wrapper header {
  flex-shrink: 0;
}
.app-wrapper footer {
  background-color: #3e99c0;
  color: white;
}

.app-wrapper header {
  background-color: bisque;
  text-align: center;
}
